body {
  margin: 0;
  font-family: "Montaser light";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Montaser light";
}

html {
  scroll-behavior: smooth;
}
