body {
  margin: 0;
  font-family: "Chocolates";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Chocolates";
}

html,body{
  overflow-x: hidden;
}
